.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 3;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 3rem;
            right: 4rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light,$color-primary-dark);
        z-index: 1;
        transition: transform .6s;
        
        @include respond(tab-port) {
            top: 3.5rem;
            right: 4.5rem;
        }

        
        
    }

    &__nav {
        height: 100vh;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 2;

        opacity: 0;
        pointer-events: none;
        transition: opacity .7s;
    } 

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style-type: none;

        
    } 

    &__item {
        margin: 1rem;
    } 

    &__link {
        &:link,
        &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 230%;
        transition: all .4s;
    }
    &:hover,
    &:active {
        background-position: 100%;
        color: black;
        transform: translateX(2rem);
    }

    } 

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        pointer-events: all;
        
    }

    &__icon {
        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }


        &::before,
        &::after {
             content: "";
             position: absolute;
             left: 0;
             transition: all .2s;
        }

        &::before { top:-.8rem;}
        &::after { top: .8rem;}


    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before { // to create that x animation when you click the navigation burger menu
        top: 0;
        transform: rotate(45deg);
    }

    &__checkbox:checked + &__button &__icon::after { // to create that x animation when you click the navigation burger menu
        top: 0;
        transform: rotate(-45deg);
    }

}