
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* So that the width and height is the actual specified not including paddings borders*/
}

html {
    font-size: 62.5%; /* The same as 10 px because default meaning 100% is 16 px*/ 

    @include respond(tab-land) { //width < 1200?
        font-size: 56.25%;  //1rem = 9px, 8/16*100 = 50%
    }
    
    
    @include respond(tab-port) { //width < 900?
        font-size: 50%; // 1rem = 8px, 8/16*100 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12, 12/16*100 = 75%
    }
    
}



body {
    box-sizing: border-box;
    padding: 3rem;
    
    @include respond(tab-port) {
        padding: 0;
    }
}