.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    
    &:hover {
        transform: scale(1.1);
    }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}